{
  "presets": [
    "stage-0",
    "es2015",
    "env"
  ],
  "plugins": [
    "lodash",
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals",
    "transform-class-properties"
  ]
}
